Repository SungwookLE/ORUUM-REST-API, pull requests merged in 2022-11, with the labels that each got.

#16 Feat: model(userwallet) added and admin page is updated, userinformat…
  accounts/admin.py
  accounts/forms.py
  accounts/models.py
  accounts/serializers.py
  accounts/urls.py
  accounts/views.py
  api/admin.py
  api/models.py
  api/serializers.py
  api/urls.py
  api/views.py
  backend/settings/base.py
  backend/urls.py
  backend/views.py
  dashboard/apps.py
  dashboard/plotly_functionset.py
  dashboard/urls.py
  dashboard/views.py
  db_handler/dbModule.py
  db_handler/get_stocks_oruum.py
  db_handler/stock_info/get_yahoo_stocks.py
  db_handler/stock_info/yahoo_stocks_function_set.py
  db_handler/update_yahoo_stocks_api.py
  templates/home.html
Labels: djangoframe, api

#17 Fix: requirements.txt and accounts.view
  accounts/forms.py
  accounts/urls.py
  accounts/views.py
  dashboard/views.py
  db_handler/update_yahoo_stocks_api.py
  requirements.txt
Labels: api

#18 edit : swagger UI & fix minor serializer error
  accounts/forms.py
  accounts/models.py
  accounts/serializers.py
  accounts/urls.py
  accounts/views.py
  api/admin.py
  api/models.py
  api/serializers.py
  api/views.py
  backend/urls.py
  db_handler/stock_info/yahoo_stocks_function_set.py
  templates/home.html
Labels: api

#23 Sprint2211/jwt sungwook
  accounts/admin.py
  accounts/forms.py
  accounts/models.py
  accounts/serializers.py
  accounts/urls.py
  accounts/views.py
  backend/settings/base.py
  backend/urls.py
  templates/home.html
Labels: djangoframe

#24 Feat: User API updated
  accounts/admin.py
  accounts/models.py
  accounts/serializers.py
  accounts/urls.py
  accounts/views.py
  backend/settings/base.py
Labels: djangoframe
